<div class="section declension noun">
    <h2>Declension</h2>
    <div class="table-container">
        <table class="mode-normal">
            <thead>
                <tr>
                    <th></th>
                    <th class="table-audio">singular</th>
                    <th class="table-audio">plural</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <span class="short">nom.</span>
                        <span class="long">nominative</span>
                    </th>
                    <td>
                        <p>{{forms.ru_noun_sg_nom}}</p>
                    </td>
                    <td>
                        <p>{{forms.ru_noun_pl_nom}}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="short">gen.</span>
                        <span class="long">genitive</span>
                    </th>
                    <td>
                        <p>{{forms.ru_noun_sg_gen}}</p>
                    </td>
                    <td>
                        <p>{{forms.ru_noun_pl_gen}}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="short">dat.</span>
                        <span class="long">dative</span>
                    </th>
                    <td>
                        <p>{{forms.ru_noun_sg_dat}}</p>
                    </td>
                    <td>
                        <p>{{forms.ru_noun_pl_dat}}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="short">acc.</span>
                        <span class="long">accusative</span>
                    </th>
                    <td>
                        <p>{{forms.ru_noun_sg_acc}}</p>
                    </td>
                    <td>
                        <p>{{forms.ru_noun_pl_acc}}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="short">inst.</span>
                        <span class="long">instrumental</span>
                    </th>
                    <td>
                        <p>{{forms.ru_noun_sg_inst}}</p>
                    </td>
                    <td>
                        <p>{{forms.ru_noun_pl_inst}}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="short">prep.</span>
                        <span class="long">prepositional</span>
                    </th>
                    <td>
                        <p>{{forms.ru_noun_sg_prep}}</p>
                    </td>
                    <td>
                        <p>{{forms.ru_noun_pl_prep}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>