<link rel="stylesheet" type="text/css" href="style.css" />
<div class="version">
<div class="section basics">
    <div class="bare">
        <h1><span>я́блоко</span></h1>
    </div>
    <div class="overview">
        <p>noun, neuter, inanimate</p>
        <p>somewhat often used word (top 3,000)</p>
    </div>
</div>
<div class="section translations">
    <h2>Translation</h2>
    <ul>
        <li>
            <div class="content">
            <p class="tl">apple</p>
            <p class="tl-also">
                Also: ball
            </p>
            <p class="example">
                Example: глазного яблока - eyeball
            </p>
            </div>
        </li>
    </ul>
</div>
<div class="section sentences">
    <h2>Examples</h2>
    <ul class="sentences">
        <li class="sentence"><span class="ru"><a href="entry://У">У</a><span> </span><a href="entry://тебя">тебя</a><span> есть </span><a href="entry://яблоки">я́блоки</a><span>?</span></span><span class="tl"><span>Do you have any apples?</span></span></li>
    </ul>
</div>
<div class="section declension noun">
    <h2>Declension</h2>
    <div class="table-container">
        <table class="mode-normal">
            <thead>
            <tr>
                <th></th>
                <th class="table-audio">singular</th>
                <th class="table-audio">plural</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><span class="short">nom.</span><span class="long">nominative</span></th>
                <td>
                    <p>я́блоко</p>
                </td>
                <td>
                    <p>я́блоки</p>
                </td>
            </tr>
            <tr>
                <th><span class="short">gen.</span><span class="long">genitive</span></th>
                <td>
                    <p>я́блока</p>
                </td>
                <td>
                    <p>я́блок</p>
                </td>
            </tr>
            <tr>
                <th><span class="short">dat.</span><span class="long">dative</span></th>
                <td>
                    <p>я́блоку</p>
                </td>
                <td>
                    <p>я́блокам</p>
                </td>
            </tr>
            <tr>
                <th><span class="short">acc.</span><span class="long">accusative</span></th>
                <td>
                    <p>я́блоко</p>
                </td>
                <td>
                    <p>я́блоки</p>
                </td>
            </tr>
            <tr>
                <th><span class="short">inst.</span><span class="long">instrumental</span></th>
                <td>
                    <p>я́блоком</p>
                </td>
                <td>
                    <p>я́блоками</p>
                </td>
            </tr>
            <tr>
                <th><span class="short">prep.</span><span class="long">prepositional</span></th>
                <td>
                    <p>я́блоке</p>
                </td>
                <td>
                    <p>я́блоках</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="section relateds2">
    <h2>Related words</h2>
    <ul>
        <li>
            <a href="entry://яблоня">я́блоня</a> - 
            <span>
            apple-tree&nbsp;
            </span>
        </li>
        <li>
            <a href="entry://яблочко">я́блочко</a> - 
            <span>
            apple&nbsp;
            </span>
        </li>
        <li>
            <a href="entry://яблочный">я́блочный</a> - 
            <span>
            apple&nbsp;
            </span>
        </li>
    </ul>
</div>
</div>