<div class="section declension noun">
    <h2>Declension</h2>
    <div class="table-container">
        <table class="mode-normal">
            <thead>
                <tr>
                    <th></th>
                    <th class="table-audio">singular</th>
                    <th class="table-audio">plural</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <span class="long">nominative</span>
                    </th>
                    <td>
                        <p>{% if 'ru_noun_sg_nom' in forms %}{{forms.ru_noun_sg_nom}}{% else %}-{% endif %}</p>
                    </td>
                    <td>
                        <p>{% if 'ru_noun_pl_nom' in forms %}{{forms.ru_noun_pl_nom}}{% else %}-{% endif %}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="long">genitive</span>
                    </th>
                    <td>
                        <p>{% if 'ru_noun_sg_gen' in forms %}{{forms.ru_noun_sg_gen}}{% else %}-{% endif %}</p>
                    </td>
                    <td>
                        <p>{% if 'ru_noun_pl_gen' in forms %}{{forms.ru_noun_pl_gen}}{% else %}-{% endif %}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="long">dative</span>
                    </th>
                    <td>
                        <p>{% if 'ru_noun_sg_dat' in forms %}{{forms.ru_noun_sg_dat}}{% else %}-{% endif %}</p>
                    </td>
                    <td>
                        <p>{% if 'ru_noun_pl_dat' in forms %}{{forms.ru_noun_pl_dat}}{% else %}-{% endif %}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="long">accusative</span>
                    </th>
                    <td>
                        <p>{% if 'ru_noun_sg_acc' in forms %}{{forms.ru_noun_sg_acc}}{% else %}-{% endif %}</p>
                    </td>
                    <td>
                        <p>{% if 'ru_noun_pl_acc' in forms %}{{forms.ru_noun_pl_acc}}{% else %}-{% endif %}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="long">instrumental</span>
                    </th>
                    <td>
                        <p>{% if 'ru_noun_sg_inst' in forms %}{{forms.ru_noun_sg_inst}}{% else %}-{% endif %}</p>
                    </td>
                    <td>
                        <p>{% if 'ru_noun_pl_inst' in forms %}{{forms.ru_noun_pl_inst}}{% else %}-{% endif %}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="long">prepositional</span>
                    </th>
                    <td>
                        <p>{% if 'ru_noun_sg_prep' in forms %}{{forms.ru_noun_sg_prep}}{% else %}-{% endif %}</p>
                    </td>
                    <td>
                        <p>{% if 'ru_noun_pl_prep' in forms %}{{forms.ru_noun_pl_prep}}{% else %}-{% endif %}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>