<div class="section verb conjugation">
   <h2>Conjugation</h2>
   <div class="presfut table-container">
      <table>
         <thead>
            <tr>
               <th></th>
               <th class="table-audio">Present</th>
               <th class="table-audio">Future</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th>я</th>
               <td>
                  {% if extra.aspect == "perfective" %}
                  -
                  {% elif 'ru_verb_presfut_sg1' in forms %}
                  {{forms.ru_verb_presfut_sg1}}
                  {% else %}
                  -
                  {% endif %}
               </td>
               <td>
                  {% if extra.aspect == "perfective" %}
                  {% if 'ru_verb_presfut_sg1' in forms %}
                  {{forms.ru_verb_presfut_sg1}}
                  {% else %}
                  -
                  {% endif %}
                  {% else %}
                  бу́ду {{overview.accented}}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th>ты</th>
               <td>
                  {% if extra.aspect == "perfective" %}
                  -
                  {% elif 'ru_verb_presfut_sg2' in forms %}
                  {{forms.ru_verb_presfut_sg2}}
                  {% else %}
                  -
                  {% endif %}
               </td>
               <td>
                  {% if extra.aspect == "perfective" %}
                  {% if 'ru_verb_presfut_sg2' in forms %}
                  {{forms.ru_verb_presfut_sg2}}
                  {% else %}
                  -
                  {% endif %}
                  {% else %}
                  бу́дешь {{overview.accented}}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th>он/она́/оно́</th>
               <td>
                  {% if extra.aspect == "perfective" %}
                  -
                  {% elif 'ru_verb_presfut_sg3' in forms %}
                  {{forms.ru_verb_presfut_sg3}}
                  {% else %}
                  -
                  {% endif %}
               </td>
               <td>
                  {% if extra.aspect == "perfective" %}
                  {% if 'ru_verb_presfut_sg3' in forms %}
                  {{forms.ru_verb_presfut_sg3}}
                  {% else %}
                  -
                  {% endif %}
                  {% else %}
                  бу́дет {{overview.accented}}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th>мы</th>
               <td>
                  {% if extra.aspect == "perfective" %}
                  -
                  {% elif 'ru_verb_presfut_pl1' in forms %}
                  {{forms.ru_verb_presfut_pl1}}
                  {% else %}
                  -
                  {% endif %}
               </td>
               <td>
                  {% if extra.aspect == "perfective" %}
                  {% if 'ru_verb_presfut_pl1' in forms %}
                  {{forms.ru_verb_presfut_pl1}}
                  {% else %}
                  -
                  {% endif %}
                  {% else %}
                  бу́дем {{overview.accented}}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th>вы</th>
               <td>
                  {% if extra.aspect == "perfective" %}
                  -
                  {% elif 'ru_verb_presfut_pl2' in forms %}
                  {{forms.ru_verb_presfut_pl2}}
                  {% else %}
                  -
                  {% endif %}
               </td>
               <td>
                  {% if extra.aspect == "perfective" %}
                  {% if 'ru_verb_presfut_pl2' in forms %}
                  {{forms.ru_verb_presfut_pl2}}
                  {% else %}
                  -
                  {% endif %}
                  {% else %}
                  бу́дете {{overview.accented}}
                  {% endif %}
               </td>
            </tr>
            <tr>
               <th>они́</th>
               <td>
                  {% if extra.aspect == "perfective" %}
                  -
                  {% elif 'ru_verb_presfut_pl3' in forms %}
                  {{forms.ru_verb_presfut_pl3}}
                  {% else %}
                  -
                  {% endif %}
               </td>
               <td>
                  {% if extra.aspect == "perfective" %}
                  {% if 'ru_verb_presfut_pl3' in forms %}
                  {{forms.ru_verb_presfut_pl3}}
                  {% else %}
                  -
                  {% endif %}
                  {% else %}
                  бу́дут {{overview.accented}}
                  {% endif %}
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="past-imp">
      <div class="table-container imperatives">
         <table>
            <tbody>
               <tr>
                  <th class="table-audio" colspan="2">Imperative</th>
               </tr>
               <tr>
                  <th>ты</th>
                  <td>{% if 'ru_verb_imperative_sg' in forms %}{{forms.ru_verb_imperative_sg}}{% else %}-{% endif %}</td>
               </tr>
               <tr>
                  <th>вы</th>
                  <td>{% if 'ru_verb_imperative_pl' in forms %}{{forms.ru_verb_imperative_pl}}{% else %}-{% endif %}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="table-container past">
         <table>
            <tbody>
               <tr>
                  <th colspan="2" class="table-audio">Past</th>
               </tr>
               <tr>
                  <th>masculine</th>
                  <td>{% if 'ru_verb_past_m' in forms %}{{forms.ru_verb_past_m}}{% else %}-{% endif %}</td>
               </tr>
               <tr>
                  <th>feminine</th>
                  <td>{% if 'ru_verb_past_f' in forms %}{{forms.ru_verb_past_f}}{% else %}-{% endif %}</td>
               </tr>
               <tr>
                  <th>neuter</th>
                  <td>{% if 'ru_verb_past_n' in forms %}{{forms.ru_verb_past_n}}{% else %}-{% endif %}</td>
               </tr>
               <tr>
                  <th>plural</th>
                  <td>{% if 'ru_verb_past_pl' in forms %}{{forms.ru_verb_past_pl}}{% else %}-{% endif %}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="participles">
      <h2>Participles</h2>
      <div class="table-container">
         <table>
            <tbody>
               <tr class="participle-form">
                  <th>Active present</th>
                  <td>{% if 'ru_verb_participle_active_present' in forms %}{{forms.ru_verb_participle_active_present}}{% else %}-{% endif %}</td>
                  <td>
                     <i>someone who is doing</i>
                  </td>
               </tr>
               <tr class="participle-form">
                  <th>Active past</th>
                  <td>{% if 'ru_verb_participle_active_past' in forms %}{{forms.ru_verb_participle_active_past}}{% else %}-{% endif %}</td>
                  <td>
                     <i>someone who was doing</i>
                  </td>
               </tr>
               <tr class="participle-form">
                  <th>Passive present</th>
                  <td>{% if 'ru_verb_participle_passive_present' in forms %}{{forms.ru_verb_participle_passive_present}}{% else %}-{% endif %}</td>
                  <td>
                     <i>something which is being done</i>
                  </td>
               </tr>
               <tr class="participle-form">
                  <th>Passive past</th>
                  <td>{% if 'ru_verb_participle_passive_past' in forms %}{{forms.ru_verb_participle_passive_past}}{% else %}-{% endif %}</td>
                  <td>
                     <i>something which was being done</i>
                  </td>
               </tr>
               <tr class="participle-form">
                  <th>Gerund present</th>
                  <td>{% if 'ru_verb_gerund_present' in forms %}{{forms.ru_verb_gerund_present}}{% else %}-{% endif %}</td>
                  <td>
                     <i>while doing (present)</i>
                  </td>
               </tr>
               <tr class="participle-form">
                  <th>Gerund past</th>
                  <td>{% if 'ru_verb_gerund_past' in forms %}{{forms.ru_verb_gerund_past}}{% else %}-{% endif %}</td>
                  <td>
                     <i>while doing (past)</i>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>