/* Remove unused CSS code with https://purifycss.online/ */

@keyframes popup-appear {
  0% {
    opacity: 0;
    transform: translateY(-20px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

html {
  font-family: Open Sans, sans-serif;
  color: #333;
  background: #fff;
  cursor: default
}

body,
html {
  margin: 0;
  padding: 0
}

body {
  position: relative
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block
}

button {
  font-size: inherit;
  font-family: inherit
}

a {
  color: #0039a6;
  text-decoration: none
}

@media (min-width:960px) {
  a:hover {
    text-decoration: underline
  }

  a:active {
    text-decoration: none
  }
}

p {
  margin: 0
}

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit
}

::selection {
  background: #e70;
  color: #fff
}

* {
  box-sizing: border-box
}

html {
  font-size: 14px;
  line-height: 1.5em;
  height: 100% !important;
  min-height: 100%;
  background-color: #fff
}

@media (min-width:720px) {
  body {
    min-height: 100%
  }
}

@media (max-width:719px) {
  body {
    min-height: 100%;
    padding-bottom: 45px
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden
}

svg {
  fill: currentColor
}

a {
  touch-action: manipulation
}

.page-title {
  font-weight: 700;
  line-height: 1.5em
}

@media (min-width:720px) {
  .page-title {
    font-size: 1.8rem
  }
}

@media (max-width:719px) {
  .page-title {
    font-size: 1.5rem
  }
}

.page-title img {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 5px
}

.page-title img,
.page-title span {
  vertical-align: middle
}

.read.auto {
  vertical-align: middle
}

.read.auto:not(.error) {
  cursor: pointer
}

ul.sentences {
  text-align: left;
  line-height: 1.5em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto
}

ul.sentences li {
  margin: .5em 0;
  position: relative;
  padding-left: 27px;
  padding-right: 18px
}

ul.sentences li .read {
  position: absolute;
  top: 2px;
  left: 0;
  color: inherit;
  margin-top: 5px;
  font-size: 15px;
  line-height: 12px;
  text-decoration: none
}

@media (hover:hover) {
  ul.sentences li .read:not(.loading):hover {
    color: #0039a6
  }
}

ul.sentences li .star {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 15px;
  line-height: 12px;
  text-decoration: none
}

ul.sentences li .ru {
  display: block
}

ul.sentences li .tl {
  display: block;
  font-size: 13px;
  line-height: 1.5em;
  color: #222
}

@media (max-width:719px) {
  body {
    background: #fff
  }
}

.page {
  min-height: 400px
}

.page .intro .title {
  text-align: center;
  font-size: 40px;
  line-height: 1em;
  font-weight: 400;
  margin: 0
}

@keyframes pulse_animation {
  0% {
    transform: scale(1)
  }

  30% {
    transform: scale(1)
  }

  40% {
    transform: scale(1.2)
  }

  50% {
    transform: scale(1)
  }

  60% {
    transform: scale(1)
  }

  70% {
    transform: scale(1.1)
  }

  80% {
    transform: scale(1)
  }

  to {
    transform: scale(1)
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  text-indent: 0;
  font-size: .9rem;
  font-family: inherit;
  background: #e4eaf7;
  color: #1023ab;
  border-radius: 5px;
  box-shadow: none;
  line-height: 28px;
  padding: 0 12px;
  font-weight: 500;
  transition: background-color .1s ease-in-out;
  white-space: nowrap
}

.button[disabled] {
  cursor: default !important;
  color: #777 !important;
  background-color: #eee !important
}

@media (hover:hover) {
  .button:not(.button__disabled):not([disabled]):hover {
    text-decoration: none;
    background-color: #cad4e9
  }
}

.button__emphasized {
  background-color: #1023ab;
  color: #fff
}

@media (hover:hover) {
  .button__emphasized:not([disabled]):not(.button__disabled):hover {
    text-decoration: none;
    background-color: #2e41c9
  }
}

.button__text {
  background: 0 0;
  border: none;
  padding: 0;
  font: inherit;
  font-weight: 600;
  color: #0039a6;
  letter-spacing: -.2px;
  cursor: pointer
}

@media (hover:hover) {
  .button__text:hover {
    color: #0d60ff
  }
}

button.star {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: 0 0;
  outline: 0;
  font-size: 17px;
  line-height: 1px;
  padding: 0;
  position: relative
}

button.star:not([disabled]) {
  cursor: pointer
}

@media (hover:hover) {
  button.star:not([disabled]):hover {
    color: #0039a6
  }
}

@keyframes bouncing-loader {
  to {
    opacity: .2;
    transform: translateY(-3px)
  }
}

@keyframes points-counter-float {
  0% {
    top: -15px;
    opacity: 0
  }

  to {
    top: -30px;
    opacity: 1
  }
}

@keyframes simple-zoom-x {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  to {
    transform: scale(1)
  }
}

.page.word-tl h1 {
  text-align: center
}

.page.word .version {
  position: relative
}

.page.word ul.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
  line-height: 40px;
  font-weight: 700;
  border-bottom: 1px solid #bbb
}

.page.word ul.tabs>* {
  display: table-cell;
  text-align: center;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom-color .1s ease-in-out, color .1s ease-in-out, background .1s ease-in-out;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

@media (hover:hover) {
  .page.word ul.tabs>:hover {
    color: #2b2be2;
    background: #fff
  }
}

.page.word ul.tabs>.active {
  border-bottom-color: #2b2be2;
  color: #2b2be2
}

.page.word .edit-word,
.page.word .flag-word {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: 0 0;
  border: 0;
  outline: 0;
  position: absolute;
  top: 0;
  cursor: pointer
}

@media (min-width:720px) {

  .page.word .edit-word,
  .page.word .flag-word {
    font-size: 19px;
    line-height: 55px
  }
}

@media (max-width:719px) {

  .page.word .edit-word,
  .page.word .flag-word {
    font-size: 16px;
    line-height: 44px
  }
}

.page.word .edit-word:hover,
.page.word .flag-word:hover {
  color: #0039a6
}

@media (min-width:720px) {
  .page.word .edit-word {
    right: 90px;
    top: 3px
  }
}

@media (max-width:719px) {
  .page.word .edit-word {
    line-height: 22px;
    right: 2px;
    padding: 0;
    top: 66px
  }
}

@media (min-width:720px) {
  .page.word .flag-word {
    right: 50px;
    top: 7px
  }
}

@media (max-width:719px) {
  .page.word .flag-word {
    right: 0;
    top: 37px;
    padding: 0;
    line-height: 22px
  }

  .page.word .flag-word svg {
    width: 22px;
    height: 22px
  }
}

@media (min-width:720px) {
  .page.word .flag-word svg {
    width: 26px;
    height: 26px
  }
}

.page.word .word-star {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: 0 0;
  border: 0;
  outline: 0;
  position: absolute;
  right: 0
}

@media (min-width:720px) {
  .page.word .word-star {
    font-size: 30px;
    line-height: 61px
  }
}

@media (max-width:719px) {
  .page.word .word-star {
    font-size: 20px;
    line-height: 35px
  }
}

.page.word .word-star:hover {
  color: #0039a6
}

.page.word .external-links a {
  display: inline-block;
  margin-right: 20px
}

.page.word .external-links a>* {
  vertical-align: middle
}

.page.word .external-links img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 5px
}

.page.word .external-links i {
  display: inline-block;
  font-size: .8em;
  margin-left: 3px;
  transform: translateY(2px)
}

.page.word .section.verb.conjugation .presfut {
  display: inline-block;
  vertical-align: top;
  min-width: 49%;
  margin-bottom: 30px
}

.page.word .section.verb.conjugation .past-imp {
  display: inline-block;
  vertical-align: top;
  min-width: 49%;
  white-space: nowrap
}

.page.word .section.verb.conjugation .past-imp .table-container {
  display: inline-block;
  vertical-align: top;
  min-width: 45%
}

.page.word .section.verb.conjugation .past-imp .table-container:first-child {
  margin-right: 10px
}

.page.word .section.verb.conjugation .participles>.table-container>table {
  width: 100%
}

.page.word .section.verb.conjugation .participles>.table-container>table td:not(:last-child),
.page.word .section.verb.conjugation .participles>.table-container>table th {
  width: 0
}

.page.word .section.verb.conjugation .participles .participle-form td,
.page.word .section.verb.conjugation .participles .participle-form th {
  padding-bottom: 0
}

.page.word .section.verb.conjugation .participles .participle-form td:nth-child(4) span {
  font-size: 12px;
  cursor: pointer
}

.page.word .section {
  margin-bottom: 40px
}

.page.word .section h2 .read {
  margin-left: 5px
}

.page.word .section th {
  font-weight: 100;
  font-size: 12px
}

.page.word .section .play-table {
  font-size: 12px
}

.page.word .section .play-table:before {
  margin-right: 4px
}

.page.word .section.basics .bare {
  font-size: 40px;
  font-weight: 400
}

.page.word .section.basics .bare h1 {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  line-height: 61px;
  max-width: 100%
}

.page.word .section.basics .bare h1 .read {
  line-height: 1em;
  font-size: 24px;
  margin-left: 14px
}

.page.word .section.basics .bare h1 .read:hover {
  color: #0039a6
}

.page.word .section.basics .tags {
  margin-top: 2em;
  line-height: 1.5em
}

.page.word .section.basics .tags a,
.page.word .section.basics .tags span {
  display: inline-block;
  background: #766b6b;
  padding: 1px 7px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500
}

.page.word .section.basics .tags a:not(:is(a)),
.page.word .section.basics .tags span:not(:is(a)) {
  color: #eee;
  background-color: #766b6b
}

@media (hover:hover) {

  .page.word .section.basics .tags a:is(a):hover,
  .page.word .section.basics .tags span:is(a):hover {
    background: #0039a6
  }
}

.page.word .section.basics .tags a:not(:last-child),
.page.word .section.basics .tags span:not(:last-child) {
  margin-right: 7px
}

.page.word .section .table-audio {
  white-space: nowrap
}

.page.word .section .table-audio .read {
  font-size: 12px;
  margin-right: 2px
}

.page.word .section.translations ul {
  zoom: 1;
  display: table;
  max-width: 90%;
  text-align: left
}

.page.word .section.translations ul:after,
.page.word .section.translations ul:before {
  content: "";
  display: table
}

.page.word .section.translations ul:after {
  clear: both
}

.page.word .section.translations li {
  display: table-row
}

.page.word .section.translations li:not(:last-child)>div {
  padding-bottom: 8px
}

.page.word .section.translations li>div {
  display: table-cell;
  vertical-align: top;
  max-width: 450px
}

.page.word .section.translations li .tl {
  line-height: 24px
}

.page.word .section.translations li .tl {
  font-size: 18px;
  font-weight: 700
}

.page.word .section.translations li .tl-also {
  font-size: 12px;
  line-height: 18px
}

.page.word .section.learn .learn-module>.inner {
  border: 1px dashed #aaa;
  padding: 20px 10px;
  background: #fbfbfd
}

.page.word .section.learn .field {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto
}

.page.word .section.learn .learn-sentence-construction-container {
  margin-bottom: 20px
}

.page.word .section.learn .learn-sentence-construction-container+.learn-intro {
  border-top: 1px solid #aaa;
  padding-top: 20px
}

.page.word .table-container {
  overflow-x: scroll
}

.page.word .table-container table {
  text-align: left
}

.page.word .table-container tr:first-child td,
.page.word .table-container tr:first-child th {
  padding-top: 0
}

.page.word .table-container td,
.page.word .table-container th {
  padding: 3px 10px;
  white-space: nowrap;
  vertical-align: top
}

.page.word .table-container td:first-child,
.page.word .table-container th:first-child {
  padding-left: 0
}

.page.word .table-container td:last-child,
.page.word .table-container th:last-child {
  padding-right: 0
}

.page.word .section.sentences ul {
  font-size: 0
}

.page.word .section.sentences li {
  font-size: 1rem;
  line-height: 1.5em
}

.page.word .section.sentences li:first-child {
  margin-top: .5em
}

@media (min-width:720px) {
  .page.word .section.sentences li {
    display: inline-block;
    width: 47%;
    vertical-align: top
  }

  .page.word .section.sentences li:nth-child(odd) {
    margin-right: 5.8%
  }
}

.page.word .section.sentences .show-all {
  margin-top: 1.5em
}

.page.word .section.relateds2 ul {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left
}

.page.word .section.relateds2 ul li {
  display: inline-block;
  width: 31%;
  text-align: left;
  vertical-align: top;
  margin: 0 1% 1em;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis
}

.page.word .section.relateds2 ul li a,
.page.word .section.relateds2 ul li span {
  display: inline
}

.page.word .section.contributions ul {
  text-align: left;
  font-size: 12px;
  line-height: 1.5em
}

.page.word .section.contributions li {
  margin-bottom: .5em
}

.page.word .section.contributions li img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px
}

.page.word .section.contributions li>img,
.page.word .section.contributions li>span {
  vertical-align: middle
}

.page.word .section.transl-links a {
  display: inline-block;
  margin: 0 10px
}

@media (max-width:719px) {
  .page.word {
    font-size: 13px
  }

  .page.word .section.basics {
    margin-bottom: 40px
  }

  .page.word .section.basics .bare h1 {
    word-wrap: break-word;
    line-height: 35px
  }

  .page.word .section.basics .bare h1 .play {
    position: static;
    display: inline;
    margin-right: 10px
  }

  .page.word .section.basics .bare {
    font-size: 32px !important
  }

  .page.word .section .th {
    font-size: 11px
  }

  .page.word .table-container td,
  .page.word .table-container th {
    padding: 3px 10px
  }

  .page.word .table-container td {
    font-size: 14px
  }

  .page.word .section.relateds2 ul li {
    width: 47%
  }
}

.page.word .section {
  text-align: initial
}

.page.word .section h2 {
  text-align: initial;
  color: inherit;
  font-size: inherit;
  border-bottom: 1px solid #bbb;
  padding-bottom: 3px;
  margin-bottom: .75em;
  font-weight: 700
}

.page.word .section.basics .bare h1 .play {
  position: static;
  line-height: 1em
}

.page.word .section.relateds2 ul,
.page.word .section.sentences ul {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0
}

.page.word .section.learn .field,
.page.word .table-container table {
  margin-left: 0;
  margin-right: 0
}

@keyframes hvr-buzz {
  50% {
    transform: translateX(3px) rotate(2deg)
  }

  to {
    transform: translateX(-3px) rotate(-2deg)
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}